<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    <!-- navbar -->
    {{>navbar}}
    <!-- main part -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/aboutpic.jpg" alt="Salman" class="img-fluid">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to the Weather App</p>
                        <h1>I'm a Student, <span class="text_clr">Programmer</span> & Web <span class="text_clr">Developer</span> </h1>
                        <a href="https://www.linkedin.com/in/syed-mohammad-salman-0a428a227/" target="_blank"><button>Lets connect on LinkedIn</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    {{>footer}}
</body>

</html>